.article-top {
  width: 100%;
  height: 100vh;
  position: relative;
}
.article-title {
  font-family: var(--title);
  font-size: 128rem;
  line-height: 1;
  text-decoration: uppercase;
  text-align: center;
  padding-top: 50rem;
  padding-left: 400rem;
  padding-right: 400rem;
  color: var(--red);
}
.article-top .article-data {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  column-gap: 100rem;
  align-items: flex-end;
  justify-content: space-between;
}
.article-data .tableau,
.article-data .description {
  width: 100%;
  font-family: var(--text);
  font-size: 15rem;
  margin: 50rem;
}
.article-data .description {
  display: flex;
  flex-direction: column;
}
.article-data .tableau {
  display: flex;
  flex-direction: column;
  row-gap: 15rem;
}
.tableau-item {
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-cross {
  min-width: 20rem;
  min-height: 20rem;
  background-color: var(--white);
  -webkit-mask: url(/images/+.svg) no-repeat center / 50rem;
  mask: url(/images/+.svg) no-repeat center / 50rem;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
}
.article-line {
  flex-grow: 1;
  height: 1rem;
  background-color: var(--white);
}
.tableau-item dt {
  margin-left: 10rem;
  margin-right: 10rem;
  text-transform: uppercase;
}
.tableau-item dd {
  margin-left: 10rem;
  margin-right: 10rem;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--red);
}
.article-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  width: 200rem;
  height: 200rem;
  background-color: var(--white);
  -webkit-mask: url(/images/arrowN.svg) no-repeat center / 100rem;
  mask: url(/images/arrowN.svg) no-repeat center / 100rem;
  mask-size: 50rem;
  mask-repeat: no-repeat;
  mask-position: center center;
  background-color: var(--red);

  /* animation */
  animation: arrowBounce 1.5s ease-in-out infinite;
}

@keyframes arrowBounce {
  0% {
    top: 50%;
  }
  50% {
    top: 52%;
  } /* descend */
  100% {
    top: 50%;
  } /* remonte */
}

.article-content {
  display: flex;
  flex-direction: column;
  padding: 50rem;
  row-gap: 50rem;
}

.article-content .full {
  width: 100%;
  height: calc(100vw / calc(16 / 9));
}
.article-content .verticalLeft {
  height: calc(100vh - 100rem);
  width: calc(calc(100vh - 100rem) / 1.55);
  transform: translateX(0);
}
.article-content .verticalRight {
  height: calc(100vh - 100rem);
  width: calc(calc(100vh - 100rem) / 1.55);
  transform: translateX(
    calc(100vw - calc(calc(100vh - 100rem) / 1.55) - 125rem)
  );
}
.article-content .verticalCenter {
  height: calc(100vh - 100rem);
  width: calc(calc(100vh - 100rem) / 1.55);
  transform: translateX(
    calc(50vw - calc(calc(100vh - 100rem) / 1.55) / 2 - 50rem)
  );
}
.article-content .full img,
.article-content .verticalLeft img,
.article-content .verticalRight img,
.article-content .verticalCenter img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article-content .full video,
.article-content .verticalLeft video,
.article-content .verticalRight video,
.article-content .verticalCenter video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
