.loader {
  z-index: 999;
}

.loader-top,
.loader-bottom {
  overflow: hidden;
}
.loader-topLogo,
.loader-bottomLogo {
  position: absolute;
  width: calc(687 * var(--vr));
  height: calc(93 * var(--vr));
  left: 50%;
  overflow: hidden;
  transition: transform 1s var(--ease);
}
.loader-topLogo img,
.loader-bottomLogo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 1s var(--ease);
}
.loader-topLogo img {
  transform: translateY(110%);
}
.loader-bottomLogo img {
  transform: translateY(-110%);
}
.loader-topLogo {
  bottom: 12rem;
  transform: translate(-50%, 0);
}
.loader-bottomLogo {
  top: 12rem;
  transform: translate(-50%, 0);
}

.loader-tr,
.loader-tl,
.loader-bl,
.loader-br {
  will-change: transform;
  position: fixed;
  width: calc(123 * var(--vr));
  height: calc(123 * var(--vr));
  transform-origin: center;
  /* background-color: rgba(255, 0, 0, 0.226); */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s var(--ease);
  transform: translate(0, 0) rotate(0deg);
  overflow: hidden;
}
.loaderCross {
  width: 100%;
  height: 100%;
  background-image: url(/images/loader-cross.svg);
  background-size: calc(75 * var(--vr));
  background-position: center;
  background-repeat: no-repeat;
  transform: translate(100%, 0);
}
.loader-tl {
  top: 50rem;
  left: 50rem;
}
.loader-tr {
  top: 50rem;
  right: 50rem;
}
.loader-bl {
  bottom: 50rem;
  left: 50rem;
}
.loader-br {
  bottom: 50rem;
  right: 50rem;
}

.loader33,
.loader66,
.loader99 {
  font-family: var(--title);
  text-transform: uppercase;
  color: var(--red);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(110 * var(--vr));
  transform: translate(100%, 0);
}
