.projects-title {
  position: fixed;
  text-align: center;
  padding-top: 50rem;
  left: 50%;
  transform: translateX(-50%);
  color: var(--red);
  margin-bottom: 150rem;
  z-index: 10;
}
.projects-container {
  width: 100%;
  padding-top: 400rem;
  padding-left: 50rem;
  padding-right: 50rem;
  padding-bottom: 200rem;
  display: flex;
  flex-direction: column;
  transition: row-gap 0.5s ease-in-out;
  row-gap: 200rem;
}
.projects-toggle {
  position: fixed;
  width: calc(100% - calc(calc(185rem * 2) + 100rem));
  height: 60rem;
  top: calc(calc(calc(185rem * 1.2125) + 50rem) - 60rem);
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--black);
  border: none;
  background: var(--black);
  box-shadow: 0px 4rem 4rem var(--shadowColor);
  display: flex;
  color: var(--white);
  font-size: 15rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: column-gap 0.3s ease-in-out;
  z-index: 10;

  column-gap: 10rem;


}

.projects-toggle:hover {
  cursor: pointer;
  column-gap: 20rem;
}
.projects-toggle:hover span {
  letter-spacing: 1.2rem;
}
.projects-toggle span {
  transition: opacity 0.3s ease, letter-spacing 0.3s ease-in-out;
}
.projects-toggle:hover span {
  opacity: 0.5;
}

.projectRow {
  width: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.projectRow .project-top,
.projectRow .project-bottom {
  width: 100%;
  height: 20rem;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.8s var(--ease);
}
.projectRow .project-pic {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20rem;
  margin-bottom: 20rem;
}
.projectRow .section {
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  padding-right: 30rem;
  padding-left: 30rem;
}

.project-line {
  width: 100%;
  height: 1rem;
  background-color: var(--white);
}
.project-infos {
  font-family: var(--text);
  font-size: 16rem;
  line-height: 1;
  color: var(--white);
  white-space: nowrap;
}
/* !crosses gesture */
.project-cross {
  min-width: 20rem;
  min-height: 20rem;
  background-color: var(--white);
  -webkit-mask: url(/images/+.svg) no-repeat center / 50rem;
  mask: url(/images/+.svg) no-repeat center / 50rem;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;

  min-width: 20rem;
  min-height: 20rem;
}
.cross1,
.cross2,
.cross3,
.cross4 {
  position: absolute;
}
.cross1 {
  top: 0;
  left: 0;
}
.cross2 {
  top: 0;
  left: calc(33.33333% - 10rem);
}
.cross3 {
  top: 0;
  left: calc(66.66667% - 10rem);
}
.cross4 {
  top: 0;
  right: 0;
  background-color: var(--red);
}
.project-bottom a {
  user-select: none;
  text-decoration: none;
}

.project-bottom a p {
  color: var(--red);
  font-weight: bold;
  transition: letter-spacing 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.project-bottom a:hover p {
  letter-spacing: 1.2rem;
  opacity: 0.5;
}

.project-top-line {
  margin-left: 20rem;
}
.project-bottom-line {
  margin-right: 20rem;
  background-color: var(--red);
}
/* pictures */
.project-pic {
  height: 320rem;
  overflow: hidden;
  transition: height 0.5s var(--ease);
}
.projectRow .pic-section {
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.projectRow .pic-section .project-image-container {
  position: relative;
  width: 520rem;
  height: 320rem;
}
.projectRow .pic-section .project-image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* for transformations */
/* .project-bottom {
  transform: translateY(calc(-100% - 20rem));
} */
/* .project-pic {
  height: 0;
  overflow: hidden;
} */
